<?xml version="1.0" encoding="utf-8" ?>
<log4net>

	<appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">

		<bufferSize value="1" />

		<!-- FIXED for modern .NET -->
		<connectionType value="Microsoft.Data.SqlClient.SqlConnection, Microsoft.Data.SqlClient" />
		<connectionString value="Data Source=VF-CO-IT-DEV-11;Initial Catalog=CRIB_Revamp;User Id=sa;Password=abc1234;TrustServerCertificate=True;" />

		<commandText value="
		INSERT INTO ApplicationLogs
		(LogDate, Thread, LogLevel, Logger, Message, Exception, UserName, Action)
		VALUES
		(@log_date, @thread, @log_level, @logger, @message, @exception, @user, @action)" />

		<!-- USER -->
		<parameter>
			<parameterName value="@user" />
			<dbType value="String" />
			<size value="100" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%property{user}" />
			</layout>
		</parameter>

		<!-- ACTION -->
		<parameter>
			<parameterName value="@action" />
			<dbType value="String" />
			<size value="100" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%property{action}" />
			</layout>
		</parameter>

		<!-- LOG DATE -->
		<parameter>
			<parameterName value="@log_date" />
			<dbType value="DateTime" />
			<layout type="log4net.Layout.RawTimeStampLayout" />
		</parameter>

		<!-- THREAD -->
		<parameter>
			<parameterName value="@thread" />
			<dbType value="String" />
			<size value="50" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%thread" />
			</layout>
		</parameter>

		<!-- LEVEL -->
		<parameter>
			<parameterName value="@log_level" />
			<dbType value="String" />
			<size value="50" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%level" />
			</layout>
		</parameter>

		<!-- LOGGER -->
		<parameter>
			<parameterName value="@logger" />
			<dbType value="String" />
			<size value="255" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%logger" />
			</layout>
		</parameter>

		<!-- MESSAGE -->
		<parameter>
			<parameterName value="@message" />
			<dbType value="String" />
			<size value="4000" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%message" />
			</layout>
		</parameter>

		<!-- EXCEPTION FIXED -->
		<parameter>
			<parameterName value="@exception" />
			<dbType value="String" />
			<size value="4000" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%exception" />
			</layout>
		</parameter>

	</appender>

	<root>
		<level value="ALL"/>
		<appender-ref ref="AdoNetAppender"/>
	</root>

</log4net>